/* CSS declarations go here */

/* Used to space quests. */
.spacing {
  margin: 10px;
}

/* Add padding to large buttons. */
.btn-lg {
  padding: 5px;
}

/* Fills window. */
html, body {
  height: 100%;
  max-width: 100%;
}

/* Container for the page. */
.mainContainer {
  position: relative;
  min-height: 100%;
}
/* Sets CSS for the main body of a page. */
.mainBody {
  height: 100%;
  padding-bottom: 50px;
}
/* Sets footer at the bottom. */
.mainFooter {
  height: 50px;
  width: 100%;
  margin-bottom: 0px;
  position: absolute;
  bottom: 1px;
}

/* Centers text. */
.center {
  text-align: center;
}

/* Removes line of modal footer. */
.modal-footer {
  border: none;
}

.btn-usu {

  background-color: rgb(112, 196, 188);
}

.btn-usu:hover {
 background-color: rgb(104,104,104);
}

.btn-usu:active {
  background-color: rgb(222, 255, 252);
}

.btn-usu:checked {
  background-color: rgb(112, 196, 188);
}